/*CUSTOM STYLES*/
:root {
  /**
     * colors
     */

  --light-steel-blue: hsl(218, 33%, 77%);
  --royal-blue-light: hsl(225, 68%, 53%);
  --flickr-blue_30: hsla(225, 68%, 53%, 0.3);
  --carolina-blue: hsl(201, 92%, 47%);
  --oxford-blue-1: hsl(218, 70%, 18%);
  --oxford-blue-2: hsl(217, 100%, 12%);
  --oxford-blue-3: hsl(218, 71%, 11%);
  --gainsboro_50: hsla(0, 0%, 85%, 0.5);
  --lavender-web: hsl(225, 67%, 91%);
  --sonic-silver: hsl(0, 0%, 47%);
  --light-gray: hsl(0, 0%, 84%);
  --cultured: hsl(0, 0%, 97%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_8: hsla(0, 0%, 0%, 0.08);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);

  /**
     * gradient color
     */

  --gradient: linear-gradient(90deg,
      var(--carolina-blue) 0%,
      var(--royal-blue-light) 100%);

  /**
     * typography
     */

  /*--ff-roboto: "Roboto", sans-serif;
    --ff-poppins: "Poppins", sans-serif;*/

  --fs-1: 4rem;
  --fs-2: 3.6rem;
  --fs-3: 3.2rem;
  --fs-4: 2.4rem;
  --fs-5: 2.2rem;
  --fs-6: 1.8rem;
  --fs-7: 1.6rem;

  --fw-800: 800;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /**
     * spacing
     */

  --section-padding: 120px;

  /**
     * shadow
     */

  --shadow-1: 4px 4px 15px var(--black_10);
  --shadow-2: 0 10px 15px var(--black_10);
  --shadow-3: 0px 20px 60px var(--black_8);
  --shadow-4: 0px 10px 30px var(--flickr-blue_30);
  --shadow-5: 0px 2px 60px 0px var(--black_10);

  /**
     * border radius
     */

  --radius-6: 6px;
  --radius-4: 4px;

  /**
     * transition
     */

  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*REUSED STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-inline: 25px;
}

.btn {
  background-image: linear-gradient(var(--deg, 90deg),
      var(--carolina-blue) 0%,
      var(--royal-blue-light) 100%);
  color: var(--white);
  font-size: var(--fs-7);
  text-transform: uppercase;
  padding: 20px 30px;
  text-align: center;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-4);
}

.btn:is(:hover, :focus) {
  --deg: -90deg;
}

.text-center {
  text-align: center;
}

/*Header*/
.header-top,
.header-bottom .btn {
  display: none;
  font-size: 20px;
}

.header-top .contact-list {
  margin-left: 700px;
}

.header-top .contact-list a {
  font-size: 20px;
}

.header-bottom {
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 15px;
  z-index: 4;
}

.header-bottom.active {
  position: fixed;
  top: -81px;
  background-color: var(--white);
  box-shadow: var(--shadow-2);
  animation: slideIn 0.5s var(--cubic-out) forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}


.header img {
  height: auto;
}

.header li {
  list-style: none;
}

.header-bottom>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo {
  color: var(--oxford-blue-1);
  /*font-family: var(--ff-poppins);*/
  font-size: 3.4rem;
  font-weight: var(--fw-800);
}

.nav-toggle-btn {
  color: var(--black);
  font-size: 30px;
  border: 1px solid var(--black);
  padding: 5px;
}

.nav-toggle-btn.active .menu-icon,
.nav-toggle-btn .close-icon {
  display: none;
}

.nav-toggle-btn .menu-icon,
.nav-toggle-btn.active .close-icon {
  display: block;
}

.navbar {
  position: absolute;
  top: calc(100% + 5px);
  left: 25px;
  right: 25px;
  background-color: var(--white);
  padding-inline: 0;
  box-shadow: var(--shadow-1);
  max-height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  max-height: 244px;
  transition-duration: 0.5s;
}

.navbar-list>li:not(:last-child) {
  border-block-end: 1px solid var(--gainsboro_50);
}

.navbar-link {
  color: var(--jet);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  padding: 15px;
}

.header button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}


/*Banner*/

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block-end: calc(var(--section-padding) / 2);
}

.banner-content {
  margin-block-end: 50px;
}

.banner-content { margin-block-end: 0; }

.banner-title {
  margin-block: 15px 30px;
}

.banner-text {
  font-size: var(--fs-6);
  line-height: 1.45;
  margin-block-end: 40px;
}

.banner-form {
  background-color: var(--white);
  max-width: 95%;
  padding: 15px;
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-3);
}

.banner-form .email-field {
  background-color: var(--cultured);
  color: var(--black);
  min-height: 70px;
  padding-inline: 15px;
  border-radius: var(--radius-4);
  margin-block-end: 15px;
}

.banner-form .email-field {
  margin-block-end: 0;
  padding-inline-end: 190px;
}

.banner-form .btn {
  width: 100%;
}

.banner-banner {
  margin-inline-end: -60px;
}

.banner-subtitle {
  color: var(--royal-blue-light);
  font-family: var(--ff-poppins);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  margin-block-end: 10px;
}

.banner .container {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  align-items: center;
  gap: 20px;
}
/*-----Footer-----*/
.footer {
  display: block;
}

.footer-top {
  background-color: var(--oxford-blue-2);
  color: var(--white);
}

.footer .footer-top .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.footer .footer-top .container .box-container h3 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer-bottom {
  background-color: var(--jet);
  color: var(--white);
}

.box-message form {
  background-color: var(--jet);
  margin-bottom: 10px;
  padding: 5px;
}

.box-message input,
.box-message textarea {
  display: block;
  margin: 5px;
  padding: 10px;
}

.footer-bottom {
  padding: 10px;
}

/*Registration Form*/
.form-section {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container-form-registration {

  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container-form-registration header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.container-form-registration header img,
.container-form-login header img {
  float: right;
}

.container-form-registration header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #4070f4;
}

.container-form-registration form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: #fff;
  overflow: hidden;
}

.container-form-registration form .form {
  position: absolute;
  background-color: #fff;
  transition: 0.3s ease;
}

.container-form-registration form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container-form-registration form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 0;
}
.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}
.input-field input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field select,
.input-field input[type="date"] {
  color: #707070;
}
.input-field input[type="date"]:valid {
  color: #333;
}
.container-form-registration form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  background-color: #4070f4;
  transition: all 0.3s linear;
  cursor: pointer;
}

form button:hover {
  background-color: #265df2;
}

/*Login Form*/
.container-form-login {
  
  position: relative;
    max-width: 530px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: auto;
}
.container-form-login header{
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
  padding: 10px;
}

.container-form-login header img{
  float: right;
}

.container-form-login form {
  text-align: center;
}

.container-form-login form a.text,
.login-signup a.text{
  color: #4070f4;
  text-decoration: none;
}
.container-form-login form a:hover,
.login-signup a:hover {
  text-decoration: underline;
}

.login-signup {
  margin-top: 30px;
  text-align: center;
}

/*----Choose Services-----*/
.services{
  background: var(--sonic-silver);
  padding: 20px 0px 40px;
}

.services .heading {
    font-size: 4rem;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
}

.services .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
}

.services .box-container .box{
  padding: 2rem;
  text-align: center;
  background: var(--white);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: 5rem;
}

.services .box-container .box:hover{
  background: var(--hover);
  cursor: pointer;
}

.services .box-container .box img{
  margin: 1rem 0;
  height: 10rem;
}

.services .box-container .box h3{
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--black);
  text-transform: uppercase;
}

.services .box-container .box p{
  font-size: 1.5rem;
  color: #666;
  line-height: 2;
}

/*-----Show Doctors------*/



/*-----Media Queries------*/
/**
 * responsive for larger than 575px screen
 */

@media (min-width: 575px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 4.2rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }
}

/**
   * responsive for larger than 768px screen
   */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 4.8rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 750px;
  }

  .section { padding-block: var(--section-padding); }

  .section-subtitle {
    --fs-6: 2.2rem;
  }

  .h1,
  .h2,
  .h3 {
    font-family: var(--ff-poppins);
    line-height: 1.2;
  }

  .h1 {
    color: var(--oxford-blue-1);
    font-size: var(--fs-2);
  }
}

/**
   * responsive for larger than 992px screen
   */

@media (min-width: 992px) {
  /**
    * CUSTOM PROPERTY
    */

  :root {
    /**
     * typography
     */

    --fs-2: 6rem;
    --fs-1: 4.6rem;
    --fs-3: 4.6rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 980px;
  }

  /**
   * HEADER
   */

  .header-top {
    display: block;
    background-color: var(--oxford-blue-1);
    color: var(--white);
    padding-block: 20px;
  }

  .header-top :is(.container, .social-list),
  .contact-list,
  .contact-item {
    display: flex;
    align-items: center;
  }

  .header-top .container {
    justify-content: space-between;
  }

  .contact-list {
    gap: 20px;
  }

  .contact-item {
    gap: 5px;
  }

  .contact-link {
    font-size: 1.5rem;
  }

  .header-bottom {
    top: 58px;
    padding-block: 20px;
  }

  .header-bottom.active {
    top: -95px;
  }

  .nav-toggle-btn {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
    margin-inline-start: auto;
  }

  .navbar-list {
    display: flex;
    align-items: center;
  }

  .navbar-list>li:not(:last-child) {
    border-block-end: none;
  }

  .navbar-link {
    color: var(--oxford-blue-1);
    font-family: var(--ff-poppins);
    text-transform: capitalize;
    transition: var(--transition);
  }

  .navbar-link:is(:hover, :focus) {
    color: var(--royal-blue-light);
  }

  .header-bottom .btn {
    display: block;
    padding: 15px 20px;
  }
}

/**
   * responsive for larger than 1200px screen
   */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 8rem;
    --fs-1: 5.5rem;
    --fs-3: 4.8rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1180px;
  }



  /**
    * HEADER
    */

  .contact-list {
    gap: 30px;
  }

  .header-bottom .btn {
    padding: 18px 30px;
  }

  .header-bottom>.container {
    gap: 40px;
  }

  .navbar-list {
    gap: 15px;
  }
}
